.lista-filme{
    max-width: 800px;
    margin: 14px auto;
}

.lista-filme article{
    width: 100%;
    background-color: #FFF;
    padding: 15px;
    border-radius: 4px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.lista-filme strong{
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.lista-filme img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.lista-filme a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116FEB;
    text-decoration: none;
    color: #FFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.pesquisa{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisa input{
    color: black;
    font-size: 20px;
    width:70%;
    height: 40px;
    padding: 20px 5px 5px;
    background-color: #FFF;
    border: none;
    border-radius: 4px;
    text-align: center;
}